### â›­ SQL Interview Challenge

Welcome! Your given a table with sample data scoring employees. Your goal is to rank employees based on a variety of parameters.

## ðŸ“¦ Dataset

In [0]:
%sql
SELECT *
FROM chc_eap_prod.star_work.interview_dataset;

frst_nm,last_nm,gendr_cd,emp_score
Sharon,Boston,F,100
Sarah,Block,F,97
Matt,Martin,M,83
Mike,Allen,M,95

## ðŸ”¹ Level 1:

Write an SQL query that generates 2 columns in which rank the employees by the emp_score field. One column should allow for employees to tie and the other should prevent a tie.

In [0]:
%sql
--Create your SQL statement here

## ðŸ”¹ Level 2:

Write an SQL query that generates a column in which ranks the employees by the emp_score field for each gender (ie: there should be a #1 ranked employee for both gendr_cd = 1 and 2)

In [0]:
%sql
--Create your SQL statement here

## ðŸ”¹ Level 3:

Write an SQL query that generates a column to capture the max emp_score across all records of the same gender as a given record (ie: there should be only 2 distinct value in the new column)

In [0]:
%sql
--Create your SQL statement here